/* Locations Styling */

.group-wrapper {
	padding: 12px;
	margin-bottom: 30px;
}
.list-content {
	width: 90%;
	margin: 0 auto 30px;
}

.list-header {
	width: 100%;
	margin: 0 auto;
}

.location-content h2,
.location-content p {
	padding: 8px;
	margin: 0;
}