/* Locations Styling */

.group-wrapper {
	padding: 12px;
	margin-bottom: 30px;
}
.grid-content {
	width: 90%;
	margin: 0 auto 30px;
}

.grid-item {
	margin: 0 auto;
}

.grid-header {
	width: 100%;
	margin: 0 auto;
}

.location-content h2,
.location-content p {
	padding: 8px;
	margin: 0;
}

.list-wrapper {
	border-radius: 2px;
	overflow : hidden;
}