/**
Color Pallet can be found here.
http://paletton.com/#uid=1330u0kqJvTg-I7lNA4vnrNxZlJ
 */
.package-wrapper {
	background-color      : #f3f8f8;
	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	border-radius         : 4px;
}

.package-wrapper a {
	display            : block;

	-webkit-transition : font-size .1s;
	-moz-transition    : font-size .1s;
	-ms-transition     : font-size .1s;
	-o-transition      : font-size .1s;
	transition         : font-size .1s;
}

.package-wrapper a:hover {
	font-size : 130%;
}

.package-list-item {
	/*width   : 100%;*/
	margin  : 0 auto;
	padding : 8px 0;
}

.package-list-item:nth-child(odd) {
	background-color : #c7e4f8;
}

.package-detail-content > div > div {
	width: 90%;
	margin: 0 auto;
}

.package-detail-content > div {
	margin-bottom: 30px;
}

#Footer {
	padding : 30px 0;
}

/*
	Media queries go below here.
	Use "max-width" for setting breakpoints
	and make sure it goes from high to low.
*/
@media (max-width : 767px) {


}