/**
Color Pallet can be found here.
http://paletton.com/#uid=1330u0kqJvTg-I7lNA4vnrNxZlJ
 */
body {
	margin      : 0;
	font-family : "Lato Light", sans-serif;
}

.clearfix:after {
	content : "";
	display : table;
	clear   : both;
}

/* Grid Styling */
.row {
	width : 100%;
}

.container {
	width     : 90%;
	max-width : 1120px;
	margin    : 0 auto;
}

.float-left {
	float : left;
}

.float-right {
	float : right;
}

.one_fifth {
	width: 20%;
}

/* Layout styling */
.text-left {
	text-align : left;
}
.text-center {
	text-align : center;
}
.text-right {
	text-align : right;
}
#Content {
	padding : 30px 0;
}

.package-wrapper {
	background-color: #f3f8f8;
	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	border-radius         : 4px;
}

.package-list-item {
	width: 100%;
	margin: 0 auto;
	padding: 8px 0;
}

.package-list-item:nth-child(odd) {
	background-color: #c7e4f8;
}

#Colophon {
	padding : 30px 0;
}

/* Navigation Styling */
#Logo {
	display         : inline-block;
	padding         : 15px 0px;
	text-decoration : none;
	font-size       : 22px;
}

.nav-menu {
	background-color : #1dae70;
	color            : #ffffff;
}

.nav-menu a {
	color : #ffffff;
}

nav {
	float : right;
	/*padding : 12px 0;*/
}

nav > ul > li {
	display         : inline-block;
	float           : left;
	list-style-type : none;
}

nav > ul > li a {
	text-decoration : none;
	padding         : 22px 32px;
	transition      : all .5s;
}

nav a:hover {
	background-color    : lightgrey;
	border-bottom       : solid 2px cyan;
	border-bottom-style : inset;
}

/* Form styling */
.form-wrapper {
	max-width : 600px;
	width     : 95%;
	margin    : 0 auto;
}

.form-wrapper input {
	width         : 95%;
	border        : 1px solid;
	border-radius : 4px;
	margin-bottom : 24px;
	padding       : 8px;

}

.form-wrapper button {
	padding            : 8px 16px;
	border-radius      : 4px;
	border             : none;
	background-color   : #007744;
	color              : #ffffff;

	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

.form-wrapper button:hover {
	background-color : #1dae70;
	/*color            : #333333;*/
}

/*
	Media queries go below here.
	Use "max-width" for setting breakpoints
	and make sure it goes from high to low.
*/
@media (max-width : 767px) {

}